
.icon-calendar {
	background-image: url('png/calendar.png');
	background-repeat: no-repeat;
}

.icon-expand-more {
	background-image: url('png/expand-more.png');
	background-repeat: no-repeat;
}

.icon-icon {
	background-image: url('png/icon.png');
	background-repeat: no-repeat;
}

.icon-wordmark {
	background-image: url('png/wordmark.png');
	background-repeat: no-repeat;
}

.icon-X-clear {
	background-image: url('png/X-clear.png');
	background-repeat: no-repeat;
}