h1 {
  font-family: "FarnhamDisplay-Regular";
  font-size: 52px;
  color: #FFFFFF;
  letter-spacing: 1px;
  line-height: 62px;
}

h1.small {
  font-size: 40px;
  line-height: 48px;
}

h2 {
  font-family: "Roboto-Black";
  font-size: 34px;
  color: #36373B;
  letter-spacing: 1px;
  line-height: 45px;
}

h3 {
  font-family: "Roboto-Bold";
  font-size: 28px;
  color: #36373B;
  letter-spacing: 1px;
  line-height: 37px;
}

h4 {
  font-family: "Roboto-Bold";
  font-size: 20px;
  color: #36373B;
  line-height: 26px;
}

p, li {
  font-family: "Roboto-Light";
  font-size: 18px;
  color: #808080;
  line-height: 28px;
}

p.small {
  font-family: "Roboto-Light";
  font-size: 14px;
  color: #808080;
  line-height: 22px;
}

p.small.smaller {
  font-size: 12px;
}

img {
  width: 100%;
}

a:hover {
  text-decoration: none;
}

nav ul {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

nav li {
  display: inline;
}

nav li a {
  display: inline-block;
  font-family: "Roboto-Light";
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #A18055;
  padding: 0px 10px;
}

nav li a:hover{
  text-decoration: underline;
  color: #A18055;
}

.cta-button {
  font-family: "Roboto-Bold";
  font-size: 16px;
  color: #A18055;
  letter-spacing: 2px;
  line-height: 21px;
  padding: 11px 40px;
  border: 2px solid #A18055;
  border-radius: 3px;
  background: transparent;
  text-transform: uppercase;
}

.cta-button:hover {
  color: #FFFFFF;
  background: #A18055;
}

.cta-button.white {
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
}

.cta-button.white:hover {
  color: #A18055;
  background: #FFFFFF;
}

header {
  background: #36373b;
  padding: 20px;
}

#header-inset {
  border: 3px solid #a18055;
}

#header-inset .logo a i.icon-icon {
  display: block;
  width: 45px;
  height: 35px;
  background-size: 45px;
  margin: 30px auto 0;
}

#header-inset #wordmark {
  text-align: center;
  color: #A18055;
  font-size: 28px;
  margin-top: 0;
}

.hero {
  height: 450px;
  background-size: cover;
}

.home .hero {
  height: 650px;
}

.hero .table {
  display: table;
  height: 650px;
}

.hero h1 {
  margin: 0;
  text-align: center;
  padding: 200px;
}


article {
  margin: 20px 0;
}

.content-block {
  padding: 20px 0;
  text-align: center;
}

.content-block h2, .content-block p {
  color: #A18055;
}

.content-block.beige {
  background: #eceade;
}

.content-block.black {
  background: #36373b;
}

.content-block img {
  width: 100%;
  border: 2px solid #A18055;
}

.content-block .inner-block {
  border: 2px solid #A18055;
  padding: 27px 20px;
}

.content-block .cta-button {
  display: inline-block;
}

.center-content-block {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.center-content-block li {
  text-align: left;
  padding: 5px 0;
}

.container h2 {
  text-align: center;
}

.page-template-about-us h2 {
  margin-top: 40px;
}

.page-template-about-us h4 {
  margin-top: 40px;
}

.page-template-about-us .container li {
  padding: 5px;
}

.page-template-acommodations .room {
  height: 357px;
  background-color: #A18055;
  background-size: cover;
  display: table;
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}

.page-template-acommodations .room .room-content {
  display: table-cell;
  vertical-align: middle;
}

.page-template-acommodations .room .room-content h2 {
  color: white;
  margin-bottom: 30px;
}

.page-template-acommodations h5 {
  text-align: left;
}

.page-template-events .event-head {
  height: 200px;
  display: table;
  width: 100%;
  margin: 30px 0;
}

.page-template-events .event-head h3 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
}

.page-template-about-charleston .about-block {
  height: 400px;
  display: table;
  width: 100%;
  margin-bottom: 30px;
}

.page-template-about-charleston .about-block .about-block-content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.page-template-about-charleston .about-block .about-block-content h3 {
  color: white;
  margin-bottom: 30px;
}

.page-template-restaurants article {
  margin-top: 0;
}

.modal-content {
  border-radius: 0;
}

.modal-title {
  color: #A18055;
  text-align: center;
}

.modal-header {
  border-bottom-width: 0;
}

.inner-modal-body {
  padding: 30px 0;
}

.room-button {
  text-align: center;
  margin-bottom: 30px;
}

footer {
  padding: 20px 0;
  background: #cfd0c2;
  text-align: center;
}

footer #social a {
  display: inline-block;
  color: #A18055;
  padding: 5px 0;
  width: 55px;
  border: 2px solid #A18055;
  margin: 10px;
  font-size: 30px;
  border-radius: 5px;
}

footer #social a:hover{
  background: #A18055;
  color: #cfd0c2;
}

@media (max-width: 767px) {
  .home .hero, .hero {
    height: auto;
  }
  .hero h1 {
    padding: 100px 0;
    font-size: 42px;
  }
  .home .col-sm-4 {
    margin-bottom: 15px;
  }

  .page-template-services .col-md-6 {
    margin-bottom: 15px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .content-block img {
    height: 319px;
  }
}
